<div class="container">

    <h1>Eat-Da-Burger</h1>
    <ul>
        {{#each burgers}}
        <li> {{this.burger_name}} </li>
        {{/each}}
    </ul>
    <input type="text" id="burgerInput">
    <p>Enter a burger you want to eat! Please</p>
    <button id="submitBurger">Submit</button>
</div>